body{ 
     background-color: fuchsia;
     color:rgb(133, 43, 93)
}
header{
     background-color:aliceblue;
     height: 35px;
     
     margin-left: -20px;
     margin-right:-20px 



}


  header h3{ 
     padding-left: 15px;
  color:black;
  text-align:center;
  font-size:  30px;
  }


